.main {
    height: 100vh;
    background-color: #191d28;
    color: rgb(108, 202, 203);
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:50px;
  }
  .button-main{
    display: flex;
  }
  .button{
    border:10px solid rgb(46, 50, 65);
    background-color: rgb(46, 50, 65);
    border-radius: 10%;
    margin:10px;
  }